.dash-dropdown {
    width: 80%;
}
.dash-dropdown > .Select-control {
    width: 100%;
}

/* .drop_down_uniq_graph {
    width: 100%;
}

.drop_down_uniq_graph > .Select-control {
    width: 100%;
}

#drop_down_for_graphs {
    width: 90%;
} */